@charset "utf-8";
html {
    font-family: SimSun, Arial !important;
    font-size: 62.5% !important;
}

body {
    font-family: SimSun, Arial !important;
    font-size: 1.2rem !important;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
form,
fieldset,
legend,
input,
textarea,
select,
button,
th,
td,
p,
hr,
blockquote,
pre,
code {
    padding: 0px;
    margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-family: "SimHei";
    display: inline-block;
}

a {
    color: #000000;
    text-decoration: none;
}

a:focus,
a:active,
a:hover {
    color: #ff6600;
    text-decoration: none;
    outline: 0;
}

button:focus {
    outline: 0;
}

input[type="button"]:focus {
    outline: 0;
}

img {
    image-rendering: optimizeQuality;
    -ms-interpolation-mode: bicubic;
    border: 0px;
}

ul,
ol {
    list-style-type: none;
}

del {
    text-decoration: line-through;
}

.container {
    width: 1100px !important;
    margin: 0px auto;
    padding: 0px;
    *zoom: 1;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix:after {
    height: 0;
    clear: both;
    content: "";
    display: table;
}

.clearfix {
    zoom: 1;
}


/**两栏或多栏自适应布局的通用类*/

.cell {
    display: table-cell;
    width: 9999px;
    *display: inline-block;
    *width: auto;
}


/****超出设定宽度显示...***/

.txt-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.txt-algin-right {
    text-align: right;
}
.txt-algin-center {
    text-align: center;
}
.txt-algin-left {
    text-align: left;
}

.of {
    overflow: hidden;
}

.block {
    display: block;
}

.nowrap {
    white-space: nowrap;
}

.releative {
    position: relative;
}

.absolute {
    position: absolute;
}

.inline-block {
    display: inline-block;
}

.margin-top5 {
    margin-top: 5px;
}

.margin-top10 {
    margin-top: 10px;
}

.margin-top25 {
    margin-top: 25px;
}

.margin-top30 {
    margin-top: 30px;
}

.margin-left10 {
    margin-left: 10px;
}

.margin-left15 {
    margin-left: 15px;
}

.margin-left20 {
    margin-left: 20px;
}
.margin-left25 {
    margin-left: 25px;
}

.margin-right10 {
    margin-right: 10px;
}

.margin-right20 {
    margin-right: 20px;
}

.margin-right60 {
    margin-right: 60px;
}

.margin-bottom20 {
    margin-bottom: 20px;
}

.margin-bottom25 {
    margin-bottom: 25px;
}

.margin-bottom30 {
    margin-bottom: 30px;
}

.padding-top10 {
    padding-top: 10px;
}

.padding-left20 {
    padding-left: 20px;
}
.padding-top30 {
    padding-top: 30px;
}

.padding-top40 {
    padding-top: 40px;
}

.li-inline {
    float: left;
}

.tab-txt {
    font-family: 'SimHei';
    font-size: 1.6rem;
}

.txt-10px {
    font-size: 1rem;
}

.txt-14px {
    font-size: 1.4rem;
}

.txt-clor-B4 {
    color: #B4B4B4;
}

.red-txt {
    color: #D77C54;
}

.white-txt {
    color: #FFFFFF;
}

.red-a {
    color: #D77C54;
    text-decoration: none;
}

.red-a:hover {
    color: #CC531E;
    text-decoration: none;
}

.red-link-txt {
    margin-left: 2px;
    font-family: "SimHei";
    font-size: 1.4rem;
    color: #EF4502;
}

.red-btn {
    background-color: #CB531D;
    text-align: center;
    border: 0;
    color: #FFF;
}

.red-btn:hover {
    background-color: #EF4502;
}

.banner-container {
    position: relative;
}

.banner-img li {
    display: none;
}

.slide-bar {
    position: absolute;
}

.slide-bar li {
    width: 8px;
    height: 8px;
    display: inline-block;
    background-color: #FFF;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
}

.slide-bar .on {
    background-color: #CB531D;
}


/******logo+title**********/

.logo-title {
    border-left: 1px solid #9F9F9F;
    font-size: 2.5rem;
    font-family: "SimHei";
    color: #949494;
    line-height: 50px;
    margin-left: 20px;
    margin-top: 5px;
}

.logo-title span {
    margin-left: 20px;
}


/* ---------- 头部 ---------- */

.header {
    margin: 0px auto;
    height: 51px;
    background-color: #232121;
    color: #FFF;
}

.header .container li {
    margin-top: 14px;
    float: left;
}

.header .container .right li {
    margin-left: 19px;
}

.header .container li a {
    color: #FFFFFF;
    text-decoration: none;
}

.header .container li a:hover {
    color: #ff6600;
    text-decoration: none;
}


/* ---------- 搜索栏 ---------- */

.search-box {
    margin-left: 26px;
    margin-top: 56px;
}

.search-input {
    text-indent: 5px;
    width: 681px;
    height: 28px;
    background-color: #B7B3B3;
    border: 0px;
    color: #FFFFFF;
    border-radius: 3px;
}

.search-button {
    margin-left: 16px;
    width: 93px;
    height: 28px;
    background-color: #CC531E;
    border: 0px;
    color: #FFFFFF;
    border-radius: 3px;
}

.search-button:hover {
    background-color: #EF4502;
}

.qrcode-box {
    right: 0px;
    top: 20px;
}


/**导航分类**/

.nav-box {
    height: 38px;
    width: 100%;
    line-height: 38px;
    border-top: 1px solid #B8B3B3;
    border-bottom: 1px solid #B8B3B3;
    word-spacing: -6px;
    margin-top: 25px;
}

.all-type {
    position: relative;
    padding: 0px 68px;
}

.all-type-list {
    background-color: #FFF;
    width: 184px;
    position: absolute;
    left: 0;
    top: 52px;
    z-index: 999;
}

.all-type span {
    border-right: 1px solid #B8B3B3;
    line-height: 14px;
    padding-right: 68px;
    margin-top: 13px;
    margin-right: 40px;
    float: left;
}

.right-type li {
    float: left;
    margin-right: 26px;
}

.all-type-list li {
    line-height: 15px;
    margin-bottom: 10px;
    height: 25px;
}

.all-type-list li a {
    margin-left: 20px;
}


/****底部****/

.footer {
    clear: both;
    margin: 0px 0px;
    padding: 0px 0px;
    width: 100%;
    height: 230px;
    background-color: #000000;
    color: #FFFFFF;
}

.footer li {
    line-height: 25px;
}

.footer-logo {
    line-height: 230px;
}

.footer-detail {
    padding-left: 140px;
}

.footer-list {
    padding-right: 65px;
    padding-top: 35px;
    vertical-align: top;
}

.footer ul {
    margin-top: 40px;
}

.footer li {
    font-size: 1.2rem;
    font-family: 'SimHei';
}

.footer li a {
    color: #FFFFFF;
}

.footer li a:hover {
    color: #ff6600;
    text-decoration: none;
}

.copy-right-border {
    border-top: 1px solid #B8B3B3;
}

.copy-right-info {
    height: 160px;
    padding-top: 25px;
    font-size: 1.2rem;
    font-family: "SimHei";
    text-align: center;
}

.copy-right-about ul {
    margin-top: 0px;
}

.copy-right-info li {
    color: #ff6600;
    float: left;
    margin-right: 25px;
}

.copy-right-info li a {
    color: #949494;
}

.copy-right-info li a:hover {
    color: #ff6600;
    text-decoration: none;
}

.copy-right {
    color: #434343;
    text-align: center;
}
