@charset "utf-8";
html {
    font-family: SimSun, Arial !important;
    font-size: 62.5% !important;
}

body {
    font-family: SimSun, Arial !important;
    font-size: 12px;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
form,
fieldset,
legend,
input,
textarea,
select,
button,
th,
td,
p,
hr,
blockquote,
pre,
code {
    padding: 0px;
    margin: 0px;
}

em{font-style: normal !important;}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-family: "SimHei";
    display: inline-block;
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.6rem;
}

h5 {
    font-size: 1.4rem;
}

h6 {
    font-size: 1rem;
}

a {
    color: #000000;
    text-decoration: none;
}

a:focus,
a:active,
a:hover {
    color: #ff6600;
    text-decoration: none;
    outline: 0;
}

button:focus {
    outline: 0;
}

input[type="button"]:focus {
    outline: 0;
}

img {
    image-rendering: optimizeQuality;
    -ms-interpolation-mode: bicubic;
    border: 0px;
}

ul,
ol {
    list-style-type: none;
}

del {
    text-decoration: line-through;
}

.container {
    width: 1100px !important;
    margin: 0px auto;
    padding: 0px;
    *zoom: 1;
}

.main-content {
    padding-top: 12px;
    padding-bottom: 25px;
}


.left {
    float: left;
}

.right {
    float: right;
}

.clearfix:after {
    height: 0;
    clear: both;
    content: "";
    display: table;
}

.clearfix {
    zoom: 1;
}


/**两栏或多栏自适应布局的通用类*/

.cell {
    display: table-cell;
    width: 9999px;
    *display: inline-block;
    *width: auto;
}


/****超出设定宽度显示...***/

.txt-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.txt-algin-right {
    text-align: right;
}

.txt-algin-center {
    text-align: center;
}

.txt-algin-left {
    text-align: left;
}

.hide{
    display: none;
}

.of {
    overflow: hidden;
}

.block {
    display: block;
}

.nowrap {
    white-space: nowrap;
}

.releative {
    position: relative;
}

.absolute {
    position: absolute;
}

.inline-block {
    display: inline-block;
}

.margin-top5 {
    margin-top: 5px;
}

.margin-top10 {
    margin-top: 10px;
}

.margin-top20 {
    margin-top: 20px;
}

.margin-top25 {
    margin-top: 25px;
}

.margin-top30 {
    margin-top: 30px;
}

.margin-left10 {
    margin-left: 10px;
}

.margin-left15 {
    margin-left: 15px;
}

.margin-left20 {
    margin-left: 20px;
}

.margin-left25 {
    margin-left: 25px;
}

.margin-right10 {
    margin-right: 10px;
}

.margin-right20 {
    margin-right: 20px;
}

.margin-right60 {
    margin-right: 60px;
}

.margin-bottom20 {
    margin-bottom: 20px;
}

.margin-bottom25 {
    margin-bottom: 25px;
}

.margin-bottom30 {
    margin-bottom: 30px;
}

.padding-top10 {
    padding-top: 10px;
}

.padding-left5 {
    padding-left: 5px;
}

.padding-left10 {
    padding-left: 10px;
}

.padding-left20 {
    padding-left: 20px;
}

.padding-top30 {
    padding-top: 30px;
}

.padding-top40 {
    padding-top: 40px;
}

.li-inline {
    float: left;
}

.tab-txt {
    font-family: 'SimHei';
    font-size: 1.6rem;
    color: #696969;
}

.txt-10px {
    font-size: 1rem;
}

.txt-14px {
    font-size: 1.4rem;
}

.txt-clor-B4 {
    color: #B4B4B4;
}

.red-txt {
    color: #D77C54;
}

.white-txt {
    color: #FFFFFF;
}

.red-a {
    color: #D77C54;
    text-decoration: none;
}

.red-a:hover {
    color: #cc531e;
    text-decoration: none;
}

.red-link-txt {
    margin-left: 2px;
    font-family: "SimHei";
    font-size: 1.4rem;
    color: #EF4502;
}

.red-btn {
    background-color: #CB531D;
    text-align: center;
    border: 1px solid #CB531D;
    color: #FFF;
    min-width: 40px;
    min-height:20px;
}

.red-btn:hover {
    border: 1px solid #EF4502;
    background-color: #EF4502;
}

.banner-container {
    position: relative;
}

.banner-img li {
    display: none;
}

.slide-bar {
    position: absolute;
}

.slide-bar li {
    width: 8px;
    height: 8px;
    display: inline-block;
    background-color: #FFF;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
}

.slide-bar .on {
    background-color: #CB531D;
}


.home-btn {display:inline-block;min-width:80px;height:24px;line-height:24px;background:url(../images/home.png) no-repeat;margin:5px;text-indent: 30px;}

.back-btn {display:inline-block;minwidth:80px;height:24px;line-height:24px;background:url(../images/back.png) no-repeat;margin:5px;text-indent: 30px;}

/******logo+title**********/

.logo-title {
    border-left: 1px solid #9F9F9F;
    font-size: 2.5rem;
    font-family: "SimHei";
    color: #949494;
    line-height: 50px;
    margin-left: 20px;
    margin-top: 5px;
}

.logo-title span {
    margin-left: 20px;
}


/* ---------- 头部 ---------- */

.header {
    margin: 0px auto;
    height: 51px;
    background-color: #232121;
    color: #FFF;
}

.header .container li {
    margin-top: 14px;
    float: left;
}

.header .container .right li {
    margin-left: 19px;
}

.header .container li a {
    color: #FFFFFF;
    text-decoration: none;
}

.header .container li a:hover {
    color: #ff6600;
    text-decoration: none;
}


/* ---------- 搜索栏 ---------- */

.search-box {
    margin-left: 26px;
    margin-top: 56px;
}

.search-input {
    text-indent: 5px;
    width: 681px;
    height: 28px;
    border: 0px;
    border-radius: 3px;
    border: 1px solid #bbbbbb;
}

.search-button {
    margin-left: 16px;
    width: 93px;
    height: 28px;
    background-color: #CC531E;
    border: 0px;
    color: #FFFFFF;
    border-radius: 3px;
}

.search-button:hover {
    background-color: #EF4502;
}

.qrcode-box {
    right: 0px;
    top: 20px;
}


/**头部导航分类**/

.nav-box {
    height: 38px;
    width: 100%;
    line-height: 38px;
    border-top: 1px solid #B8B3B3;
    border-bottom: 1px solid #B8B3B3;
    word-spacing: -6px;
    margin-top: 25px;
    padding:0px 68px;
}

.all-type {
    position: relative;
}

.all-type-list {
    width: 184px;
    position: absolute;
    left: 0;
    z-index: 30;
}

.all-type-list .menu {
    width: 560px;
    height: 360px;
    background-color: #fff;
    padding-left: 10px;
    position: absolute;
    top: 0px;
    left: 100%;
    z-index: 30;
    filter: alpha(opacity=95);
    opacity: 0.95;
    display: none;
}

.menu dl{
    line-height: 40px;
    border-bottom: 1px solid #efefef;
}
.menu dl a{
    margin:0px 6px !important;
}
.menu dt {
    width: 100px;
    font-weight: bold;
    float: left;
}

.menu dd {
    float: left;
    color: #cccccc;
    white-space: nowrap;
}

.nav-box span {
    border-right: 1px solid #B8B3B3;
    line-height: 14px;
    padding-right: 68px;
    margin-top: 13px;
    margin-right: 40px;
    float: left;
}

.right-type li {
    float: left;
    margin-right: 26px;
}

.all-type-list li {
    line-height: 15px;
    margin-bottom: 10px;
    height: 25px;
}

.all-type-list li a {
    margin-left: 20px;
}


/****右边导航****/

.page-title {
    height:30px;
    font-family: "微软雅黑";
    font-size: 1.2rem;
}

.page-title .nav-title {
    color: #CB531E;
}

.page-content {
    font-family: "SimHei";
    font-size: 1.2rem;
}

.nav-list {
    width: 170px;
    text-align: center;
    margin-right: 20px;
}

.nav-list span {
    display: inline-block;
    background-color: #cc531e;
    width: 100%;
    color: #fefefe;
    letter-spacing: 2px;
    line-height: 35px;
    cursor: pointer;
}

.nav-list li {
    height: 35px;
    padding: 12px 0px;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}


/****底部****/

.footer {
    clear: both;
    margin: 0px 0px;
    padding: 0px 0px;
    width: 100%;
    height: 230px;
    background-color: #000000;
    color: #FFFFFF;
}

.footer .tab-txt {
    color: #FFFFFF;
}

.footer li {
    line-height: 25px;
}

.footer-logo {
    height:230px;
}

.footer-logo span{
    display:inline-block;
    height: 100%;
    vertical-align:middle;
}
.footer-logo img{
    width: 151px;
    height: 36px;
}

.footer-detail {
    padding-left: 140px;
}

.footer-list {
    padding-right: 65px;
    padding-top: 35px;
    vertical-align: top;
}

.footer ul {
    margin-top: 40px;
}

.footer li {
    font-size: 1.2rem;
    font-family: 'SimHei';
}

.footer li a {
    color: #FFFFFF;
}

.footer li a:hover {
    color: #ff6600;
    text-decoration: none;
}

.copy-right-border {
    border-top: 1px solid #B8B3B3;
}

.copy-right-info {
    height: 160px;
    padding-top: 25px;
    font-size: 1.2rem;
    font-family: "SimHei";
    text-align: center;
}

.copy-right-about ul {
    margin-top: 0px;
}

.copy-right-info li {
    color: #ff6600;
    float: left;
    margin-right: 25px;
}

.copy-right-info li a {
    color: #949494;
}

.copy-right-info li a:hover {
    color: #ff6600;
    text-decoration: none;
}

.copy-right {
    color: #434343;
    text-align: center;
}


/*****底部导航结束***********/

.non-display {
    display: none;
}

.border-style {
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

/* ---------- Message ---------- */

.xxMessage {
    padding: 10px 30px;
    display: none;
    position: fixed;
    _position: absolute;
    top: 25%;
    _top: expression(documentElement.scrollTop + Math.round(documentElement.offsetHeight * 0.25));
    left: 50%;
    z-index: 100;
    overflow: hidden;
    -webkit-box-shadow: 1px 1px 6px #999999;
    -moz-box-shadow: 1px 1px 6px #999999;
    box-shadow: 1px 1px 6px #999999;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(color=#e5e5e5, direction=0, strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#d4d4d4, direction=90, strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#d4d4d4, direction=180, strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#e5e5e5, direction=270, strength=3)";
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#e5e5e5, direction=0, strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#d4d4d4, direction=90, strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#d4d4d4, direction=180, strength=3) progid:DXImageTransform.Microsoft.Shadow(color=#e5e5e5, direction=270, strength=3);
    border: 1px solid #999999;
    background-color: #ffffff;
}

.xxMessage .messageContent {
    line-height: 24px;
    padding: 0px 10px 0px 30px;
    color: #666666;
}

.xxMessage .messagewarnIcon {
    background: url(../images/common.gif) -60px -360px no-repeat;
}

.xxMessage .messagesuccessIcon {
    background: url(../images/common.gif) -30px -390px no-repeat;
}

.xxMessage .messageerrorIcon {
    background: url(../images/common.gif) 0px -420px no-repeat;
}

.xxMessage .messageIframe {
    width: 2000px;
    height: 2000px;
    position: absolute;
    left: -100px;
    top: -100px;
    z-index: -10;
}

/* ---------- Loading ---------- */

span.loadingIcon {
    width: 20px;
    height: 20px;
    line-height: 20px;
    display: inline-block;
    *zoom: 1;
    *display: inline;
    background: url(../images/loading_icon.gif) center no-repeat;
}

span.loadingBar {
    width: 208px;
    height: 20px;
    line-height: 20px;
    display: inline-block;
    *zoom: 1;
    *display: inline;
    background: url(../images/loading_bar.gif) center no-repeat;
}
/* ---------- Progress ---------- */

.progressBar {
    width: 0px;
    height: 2px;
    display: none;
    position: fixed;
    _position: absolute;
    top: 0px;
    _top: expression(documentElement.scrollTop);
    left: 0px;
    overflow: hidden;
    box-shadow: 0px 0px 10px 1px rgba(0, 198, 255, 0.3);
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(color=#d9f7ff, direction=180, strength=6)";
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#d9f7ff, direction=180, strength=6);
    -webkit-transition: width linear 0.3s;
    transition: width linear 0.3s;
    background-color: #bdebff;
}

.hot-product-img {
    width: 171px;
    height: 145px;
}

/* ---------- Pagination ---------- */
.pager{text-align:center;}
.pager-content{margin:10px auto;text-align:left;display:inline-block;*display:inline;*zoom:1;*overflow:hidden;height:30px;overflow:hidden}
.pager-item{height:30px;line-height:30px;margin-right:5px;text-align:center;display:block;float:left;cursor:default}
span.pager-item{color:#ccc}
.pager-next,.pager-prev{border:1px solid #eee;width:42px !important;height:28px;line-height:28px;background:#fff;}
.pager-page{border:1px solid #ededed;width:28px;height:28px;line-height:28px;color:#3d3d3d;background:#fff;cursor:pointer;}
.pager-page:hover{color:#f40;background:#fff;border-color:#f40}
span.pager-curr{border:1px solid #eee;width:28px;height:28px;line-height:28px;background:#f40;border-color:#f40;color:#fff}
.pager-page-disabled{color:#eee}
.pager-ellipsis,.pager-jumper,.pager-total{background:0 0;color:#666}
.pager-ellipsis{margin:0;margin-left:-5px;width:32px}

/*******Dialog*******/
 .dialog-div {
    width: 680px;
    margin: 0 auto;
    padding:0px 10px 10px;
    color: #3e3e3e;
    border: 2px solid #dedede;
    border-top: 2px solid #ff4a00;
    background-color: #FFF;
    position: fixed;
    left:0;
    right:0;
    top:0px;
    z-index: 100001;
}

 .dialog-div .dialog-body{
 padding: 10px 0px;
 }

.dialog-div .close-btn{
    cursor:pointer;
    display:inline-block;
    width:48px;
    height:48px;
    background: url('../images/closeBtn.png') no-repeat;
}

/* ---------- Payment ---------- */

.payment .dialog {
    width: 300px;
    height: 200px;
    line-height: 24px;
    padding: 10px 60px;
    margin-left: -216px;
    display: none;
    position: absolute;
    top: 25%;
    left: 50%;
    z-index: 100;
    color: #888888;
    border: solid 6px #ededed;
    background-color: #ffffff;
}

.payment .dialog dt {
    line-height: 60px;
    color: #000000;
    font-size: 16px;
    font-family: "Microsoft YaHei";
    text-align: center;
}

.payment .dialog div {
    height: 34px;
    padding: 10px 0px;
}

.payment .dialog div a {
    height: 34px;
    line-height: 34px;
    display: inline-block;
    *zoom: 1;
    *display: inline;
    float: left;
    padding: 0px 14px;
    margin-right: 30px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #ffffff;
    font-size: 14px;
    font-family: "Microsoft YaHei";
    text-align: center;
    outline: none;
    blr: expression(this.hideFocus = true);
    background: url(../images/order.gif) -10px -60px no-repeat;
}

.payment .dialog div a:hover {
    color: #ffead0;
}

.payment .result {
    padding: 40px;
    margin-bottom: 10px;
}

.payment .result .title {
    height: 50px;
    line-height: 50px;
    color: #cc0000;
    font-size: 24px;
    font-family: "Microsoft YaHei";
    text-align: center;
}

.payment .result table {
    width: 100%;
    line-height: 36px;
    margin-bottom: 10px;
}

.payment .result th {
    text-align: left;
}

.payment .result td {
    padding: 0px 8px;
    border: 1px solid #eeeeee;
    background-color: #ffffff;
}

.payment .result strong {
    color: #ff6600;
    font-weight: bold;
}

.payment .result .paymentPlugin td {
    padding: 4px;
    border: none;
}

.payment .result .paymentPlugin input {
    width: 15px;
    height: 15px;
    float: left;
    margin-top: 9px;
    margin-right: 6px;
}

.payment .result .paymentPlugin em {
    width: 100px;
    height: 30px;
    line-height: 30px;
    display: block;
    float: left;
    padding: 2px 8px;
    color: #888888;
    font-style: normal;
    font-weight: normal;
    overflow: hidden;
    cursor: pointer;
    border: solid 1px #dddddd;
    background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
}

.payment .result .paymentButton {
    width: 150px;
    height: 37px;
    line-height: 37px;
    display: inline-block;
    *zoom: 1;
    *display: inline;
    color: #ffffff;
    font-size: 14px;
    font-family: "Microsoft YaHei";
    text-align: center;
    cursor: pointer;
    overflow: visible;
    outline: none;
    blr: expression(this.hideFocus = true);
    border: none;
    background: url(../images/order.gif) 0px -60px no-repeat;
}

.payment .result .paymentButton:hover {
    color: #ffead0;
}

