
.banner-shop-box {
    position: relative;
    margin-left: 150px;
}
.drop-down-icon{
    margin-left: 5px;
    margin-top: 5px;
    float: right;
    display: inline-block;
    width: 6px;
    height: 4px;
    background: url('../images/drop_down.gif') no-repeat;
}
.headerCart span{
    display: inline-block;
    text-indent: 6px;
    width: 13px;
    height: 12px;
    line-height: 12px;
    background: url('../images/shopcar-count.gif') no-repeat;
    color: #FFF;
}
/**banner**/

.banner-container {
    position: relative;
}

.banner-large-img {
    width: 750px;
    height: 300x;
    overflow: hidden;
}

.banner-large-img img {
    width: 750px;
    height: 300x;
}

.banner-nav {
    right: 30px;
    bottom: 20px;
}

.shop-info {
    width: 200px;
    height: 300px;
    overflow: hidden;
    font-family: "微软雅黑";
    font-size: 1.2rem;
    color: #a3a4a5;
    position: relative;
}

.shop-info .title {
    margin: 20px auto 10px;
    text-align: center;
}

.shop-info .sign-up {
    background-color: #e83228;
    height: 40px;
    line-height: 40px;
}

.shop-info .sign-up a {
    display: inline-block;
    text-align: center;
    width: 98px;
    height: 38px;
    border: 1px solid #c30e23;
    color: #fefefe;
    font-size: 1.4rem;
}

.shop-info .gonggao {
    margin-left: 20px;
    width: 160px;
    border-bottom: 1px solid #B8B3B3;
    padding-top: 10px;
    padding-bottom: 5px;
}

.shop-info .infoBox {
    width: 200px;
    margin: 5px 20px 2px 20px;
}

.shop-info .info {
    height: 20px;
    line-height: 20px;
    display: inline-block;
}

.infoBox a {
    color: #a3a4a5;
}

.shop-info .gonggao li {
    float: left;
    margin-right: 10px;
}

.product-info {
    width: 100%;
    height: 80px;
    background-color: #f8b62c;
    position: absolute;
    bottom: 0px;
}

.product-info .product-info-title {
    font-size: 1.4rem;
    color: #ffffff;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.product-info .total ul {
    margin-top: 10px;
    margin-left: 20px;
    display: inline-block;
}

.product-info .total li {
    float: left;
    background-color: #ea5415;
    padding: 0px 6px;
    line-height: 25px;
    margin-right: 2px;
    color: #ffffff;
}

.support-ad-img {
    width: 1100px;
    height: 113px;
}

.hot-txt {
    line-height: 40px;
    text-align: center;
    color: #cc531e;
    background-color: #ecc2af;
}

.hot-img {
    margin-top: 1px;
}

.hot-retailers-txt {
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    background-color: #e83228;
}

.hot-retailers-img {
    margin-top: 1px;
}

.hot-retailers-img li {
    float: left;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.hot-retailers-img li:nth-child(8) {
    border-right: 0px;
    border-bottom: 1px solid #e5e5e5;
}

.hot-retailers-img li:nth-child(n+9) {
    border-right: 1px solid #e5e5e5;
    border-bottom: 0px;
}

.hot-retailers-img li:nth-last-child(1) {
    border: 0px;
}

.hot-retailers-img img {
    width: 136px;
    height: 84px;
}

.hot-retailers-img li:hover img {
    filter: alpha(opacity=60);
    opacity: 0.6;
}

.hot-ad-img1 {
    width: 163px;
    height: 184px;
}

.hot-box li {
    float: left;
    margin-right: 4px;
    word-spacing: 4px;
}

.hot-box img {
    width: 216px;
    height: 195px;
}

.hot-box li:hover img {
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    transform: translateX(-10px);
}

.recommend-box {
    margin-top: 12px;
}

.recommend-box .title-box img {
    width: 116px;
    height: 35px;
}

.recommend-box .title-box {
    position: relative;
    height: 35px;
}

.recommend-box .more-btn {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.img-info-list li {
    float: left;
}

.img-info-list dl {
    display: inline-block;
    border: 1px solid #e5e5e5;
    width: 218px;
    height: 321px;
}

.img-info-list dt {
    margin-top: 12px;
}

.img-info-list img {
    width: 218px;
    height: 218px;
}

.img-info-list img:hover {
    filter: alpha(opacity=60);
    opacity: 0.6;
}

.img-info-list .desc-info {
    margin-top: 39px;
    margin-left: 16px;
    font-family: 'SimHei';
    color: #555555;
    font-size: 1.4rem;
}

.img-info-list .price-info {
    margin-top: 5px;
    margin-left: 16px;
    font-family: 'SimHei';
    font-size: 1.6rem;
    color: #e83228;
}

.img-info-list .original-price {
    font-family: '宋体';
    font-size: 1.0rem;
    color: #6a6a6a;
    text-decoration: line-through;
    margin-left: 5px;
}

.timeout-box {
    margin-top: 12px;
}

.timeout-box .recommend-txt {
    background: url('../images/start-btn.gif') no-repeat;
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "SimHei";
    line-height: 35px;
    height: 35px;
    padding-left: 8px;
    width: 116px;
    height: 35px;
}

.timeout-box .title-box {
    position: relative;
}

.timeout-box .more-btn {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.timeout-box .time-ad-img {
    width: 361px;
    height: 220px;
}

.timeout-box li:nth-child(even) {
    margin-left: 2px;
    margin-right: 2px;
}

.timeout-box .time-ad-img:hover {
    filter: alpha(opacity=60);
    opacity: 0.6;
}

.timeout-box .timeout-img .price-div {
    position: absolute;
    bottom: 0px;
    width: 361px;
    background-color: #f39800;
    line-height: 40px;
    color: #FFF;
    font-size: 1.6rem;
}

.timeout-box .price-div b {
    padding-left: 15px;
}

.timeout-box .qg-btn {
    float: right;
    text-align: center;
    width: 104px;
    height: 40px;
    border: 0px;
    border-color: transparent;
    background-color: transparent;
    background-image: url("../images/qg_btn.gif");
    background-repeat: no-repeat;
    color: #cc531e;
    font-size: 1.6rem;
    font-family: 'SimHei';
}

.cupboard-box .title-box {
    position: relative;
    height: 33px;
}
.cupboard-box .title-box img{
    width: 86px;
    height: 33px;
}
.cupboard-box .hot-ad-banner {
    width: 324px;
    height: 456px;
}

.cupboard-box .more-btn {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.cupboard-box dl {
    display: inline-block;
    border: 1px solid #e5e5e5;
    width: 153px;
    height: 226px;
}

.cupboard-box .cupboard-img img {
    width: 153px;
    height: 153px;
}

.cupboard-box .cupboard-img .desc-info {
    margin-top: 17px;
    margin-left: 10px;
    font-size: 1.2rem;
}

.cupboard-box .cupboard-img .price-info {
    font-size: 1.4rem;
    margin-left: 10px;
}

.cupboard-name1 {
    display: inline-block;
    height: 33px;
    width: 86px;
    background: url('../images/cupboard1.gif') no-repeat;
}

.cupboard-name2 {
    display: inline-block;
    height: 33px;
    width: 86px;
    background: url('../images/cupboard2.gif') no-repeat;
}

.cupboard-name3 {
    display: inline-block;
    height: 33px;
    width: 86px;
    background: url('../images/cupboard3.gif') no-repeat;
}

.cupboard-name4 {
    display: inline-block;
    height: 33px;
    width: 86px;
    background: url('../images/cupboard4.gif') no-repeat;
}

.cupboard-list ul {
    padding-left: 35px;
    padding-top: 15px;
}

.cupboard-list li {
    float: left;
    width: 50%;
    list-style: disc;
    font-size: 1.6rem;
    line-height: 35px;
    font-family: "SimHei";
}

.cupboard-list li a {
    color: #6a6a6a;
}

.cupboard-list li a:hover {
    color: #ff6600;
}

.cupboard-banner li {
    float: left;
    margin-right: 3px;
    margin-bottom: 3px;
}

.cupboard-banner li img {
    width: 169px;
    height: 126px;
}

.cupboard-banner li:hover img {
    filter: alpha(opacity=60);
    opacity: 0.6;
}

.foot-banner{
    margin-top: 12px;
    margin-bottom: 12px;
}
.foot-banner img{
    width: 1100px;
    height: 90px;
}
