
html,body{
     font-family: "SimHei" !important;
     color: #B4B4B4;
}

.login-wrap {

    margin: 24px 0 2px;
    height: 500px;
    height: 500px;
}



.login-box {

    right: 0;
    margin-top: 48px;
    width: 391px;
    height: 391px;
    background-color: #FFF;
    padding: 23px 27px 20px 24px;
    border: 1px solid #eeeeee;
}

.login-top{
	width: 340px;
    white-space: nowrap;
    height: 24px;
    line-height: 24px;
}

.login-top span{
    font-size: 2.4rem;
    color: #949494;
}

.reg-btn{
	display: inline-block;
	margin-left: 156px;
        color: #cc531e;
        font-size: 1.6rem;font-family: 'SimHei';
}

.reg-btn b {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url(../images/login-arrow-icon.gif) no-repeat;
    vertical-align: middle;
    margin-right: 10px;
}

.msg-tip {
    background-color: #FFFBCC;
    line-height: 30px;
    font-size: 1.4rem;
    color: #d6d2a3;
    padding-left: 40px;
    margin-top: 13px;
}

.login-banner {
    margin-right: 100px;
    line-height: 500px;
}

.login-banner img{
    width: 600px;
    height: 317px;
}

.login-form a{
    color: #B4B4B4;
}

.login-form a:hover{
    color: #ff6600;
}

.login-form .login-input {
	width: 298px;
 	height: 40px;
    line-height: 40px;
    font-size: 1.6rem;
    text-indent: 9px;
    border: 1px solid #e5e5e5;
    color: #959495;
    outline: none;
}
.login-form .user-icon, .pwd-icon{
    float: left;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #eeeeee;
}
.login-button {
    width: 340px;
    height: 40px;
    font-family: "SimHei";
    font-size: 2.0rem;
}

