

 .form-box {
        position: relative;
        margin-top: 20px;
        width: 910px;
    }
    
    .form-box select {
        width: 120px;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        outline: 0;
        cursor: pointer;
        height: 24px;
    }
    
    .form-box .i-text {
        border: 1px solid #afafaf;
        padding: 3px;
        width: 240px;
        height: 24px;
        line-height: 24px;
        vertical-align: middle;
    }
    
    .form-box .i-ta {
        display: block;
        margin: 0;
        padding: 3px;
        width: 392px;
        height: 62px;
        border: 1px solid #afafaf;
        font-size: 12px;
    }
    
    .form-box .i-text-short {
        width: 65px;
    }
    
    .form-box .item {
        position: relative;
        padding-left: 105px;
        padding-bottom: 10px;
        zoom: 1;
        text-align: left;
    }
    
    .form-box .item-label {
        display: inline;
        float: left;
        width: 100px;
        margin-left: -105px;
        text-align: right;
        height: 26px;
        line-height: 26px;
    }
    
    .form-box .item-warp {
    min-height:26px;
        position: relative;
        display: inline-block;
        _zoom: 1;
        *display: inline;
    }
    
    .form-box .item-label i {
        color: red;
        font-style: normal;
    }
    
    .form-box .item-set-default {
        line-height: 26px;
    }
    
    .form-box .item-title {
        line-height: 26px;
    }
    
    .form-box .item-title .item-label {
        color: #fc6210;
    }
    
    
    .form-box .i-chk,
    .form-box label {
        vertical-align: middle;
    }
    
    .customBtn {
        display: inline-block;
        zoom: 1;
        height: 28px;
        line-height: 28px;
        padding: 0 20px;
        color: #FFF;
        font-weight: 700;
        font-size: 14px;
        text-align: center;
        background: #ff4001;
        border: 0;
        border-radius: 3px;
        cursor: pointer;
    }
.main-content {
    padding-top: 12px;
    padding-bottom: 25px;
}

.main-content .nav-view{ font-size: 1.4rem;}

table {
    border-collapse: collapse;
}
.tbl-div {
    margin: 15px 0 0 0;
}
.tbl-div .tbl-main {
    width: 100%;
    table-layout: fixed;
    border: 1px solid #e7e7e7;
}

.tbl-div tr {
    border-bottom: 1px solid #e7e7e7;
}

.tbl-div .tr-hover{background-color:#eee}

.tbl-thead th {
	font-style: normal;
    font-weight: 200;
    color: #FFF;
    height: 40px;
    padding: 0 5px;
    background: #CB531D;
    text-align: center;
}

.tbl-div td {
    padding: 5px;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
    position: relative;
    text-align: center;
}
.tbl-div td a {
    color: #36c;
}


.tbl-div .note {
    padding: 4px 5px;
    background: #f60;
    color: #fff;
    border: 1px solid #f60;
    border-radius: 3px;
    text-decoration: none;
}
.address-default .note {
    padding: 2px 5px;
    border-color: #ff3800;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #ffd6cc;
    color: #f30;
}