.main-content {
    padding-top: 12px;
    padding-bottom: 25px;
}


.transaction-page {
    margin-top: 12px;
}


html{overflow-y:scroll;}
body{margin:0; font:12px "\5B8B\4F53",san-serif;background:#ffffff;}
div,ul,li{padding:0; margin:0;}
li{list-style-type:none;}
img{vertical-align:top;border:0;}

/* box */
.box{position: relative;}
.tb-pic a{display:table-cell;text-align:center;vertical-align:middle;}
.tb-pic a img{vertical-align:middle;}
.tb-pic a{*display:block;*font-family:Arial;*line-height:1;}
.tb-thumb{margin:10px 0 0;overflow:hidden;}
.tb-thumb li{background:none repeat scroll 0 0 transparent;float:left;height:42px;margin:0 6px 0 0;overflow:hidden;padding:1px;}
.tb-s310, .tb-s310 a{height:310px;width:310px;}
.tb-s310, .tb-s310 img{max-height:310px;max-width:310px;}
.tb-s310 a{*font-size:271px;}
.tb-s40 a{*font-size:35px;}
.tb-s40, .tb-s40 a{height:40px;width:40px;}
.tb-booth{border:1px solid #CDCDCD;position:relative;z-index:1;}
.tb-thumb .tb-selected{background:none repeat scroll 0 0 #C30008;height:40px;padding:2px;}
.tb-thumb .tb-selected div{background-color:#FFFFFF;border:medium none;}
.tb-thumb li div{border:1px solid #CDCDCD;}
div.zoomDiv{z-index:999;position:absolute;top:0px;left:0px;width:200px;height:200px;background:#ffffff;border:1px solid #CCCCCC;display:none;text-align:center;overflow:hidden;}
div.zoomMask{position:absolute;background:url("images/mask.png") repeat scroll 0 0 transparent;cursor:move;z-index:1;}

.product-order {
    width: 500px;
    font-family: 'SimHei';
}

.product-order dt {
    font-size: 1.6rem;
    margin-bottom: 5px;
}

.product-price {
    width: 500px;
    font-size: 1.4rem;
    font-family: 'SimHei';
    color: #FFF;
    margin-top: 25px;
}

.product-price li {
    margin-top: 10px;
    margin-left: 10px;
    text-align: left;
}

.product-price .first-price {
    background-color: #CB531D;
    width: 200px;
    height: 80px;
    text-align: center;
}

.product-price .second-price {
    background-color: #D5754A;
    width: 150px;
    height: 80px;
}

.product-price .three-price {
    background-color: #E09877;
    width: 150px;
    height: 80px;
}

.product-price .price-span {
    font-size: 1.6rem;
}

.product-sales {
    background-color: #EFEFEF;
    height: 70px;
    width: 500px;
    font-family: 'SimHei';
    font-size: 1.4rem;
    padding-top: 10px;
    padding-left: 10px;
}

.product-sales .postage-details {
    color: #858585
}

.product-sales .product-to-place {
    background-color: #FFF;
    border: 0px;
    width: 65px;
    height: 20px;
}

.product-command b {
    margin: 0px 5px;
    color: #CB531E;
    font-size: 1.6rem;
}

.product-order-count {
    margin-top: 22px;
    font-size: 1.4rem;
}

.product-order-count .order-count {
    width: 115px;
    height: 20px;
    border: 0px;
}

.product-submit-area button {
    width: 135px;
    height: 35px;
    margin-top: 30px;
    margin-right: 21px;
    margin-bottom: 20px;
}

.product-submit-area .msg-tip {
    color: #858585;
    font-size: 1.0rem;
}

.producer-info {
    width: 200px;
    height: 145px;
    font-family: 'SimHei';
    font-size: 1.4rem;
}

.title-txt {
    display: inline-block;
    text-align: center;
    line-height: 25px;
    width: 200px;
    background-color: #CB531D;
    color: #fff;
    font-size: 1.4rem;
}

.producer-info .producter-details-txt {
    margin-top: 16px;
    font-size: 1.2rem;
    height: 65px;
}

.producer-info .producer-start {
    font-size: 1.2rem;
}

.producer-start b {
    display: inline-block;
    width: 80px;
    height: 9px;
    background-image: url('../images/start.gif');
    background-repeat: no-repeat;
}

.hot-goods {
    font-family: 'SimHei';
    font-size: 1.4rem;
}

.hot-goods {
    font-size: 1.0rem;
}

.product-details-info {
    width: 880px;
    margin-top: 50px;
}

.product-details-info .button-bar {
    border-bottom: 1px solid #CB531D;
}

.button-bar button {
    float: left;
    border: 0px;
    width: 150px;
    height: 35px;
    font-family: "微软雅黑";
    background-color: #EDEDED;
    border-radius: 0px;
}

.button-bar button:focus {
    background-color: #CB531D;
    color: #FFF;
}

.transaction-his {
    color: #525252;
    font-size: 1.0rem;
    font-family: "SimHei";
}

.transaction-his .head-bg {
    background-color: #EDEDED;
}

.transaction-his table {
    margin: 0px !important;
}

.transaction-his thead td {
    border: 0px !important;
    height: 19px;
    font-weight: normal;
    padding: 0px !important;
    padding-top: 2px !important;
    padding-left: 50px !important;
}

.transaction-his tbody td {
    padding: 0px !important;
    padding-left: 50px !important;
    padding-top: 20px !important;
    height: 60px;
    border-top: 0px !important;
    border-bottom: 1px solid #BEBEBE;
}

.page-bar {
    border-top: 1px solid #CB531D;
    height: 36px;
}

.page-bar button {
    width: 55px;
    height: 15px;
    background-color: #EDEDED;
    border: 0px;
}

.page-bar b {
    font-weight: normal;
    margin: 0px 5px;
}

.page-bar .current-page {
    display: inline-block;
    text-align: center;
    width: 20px;
    height: 15px;
    background-color: #EDEDED;
}


.product-comment-box .radio-group{
    padding-left: 5px;
   
}

.radio-group label{
    font-family: "微软雅黑";
    margin-left: 15px;
}

.comment-data-box{
    width: 880px;
    font-family: "微软雅黑";
    font-size: 1.0rem;
}

.comment-line:nth-child(odd){
    background-color: #EDEDED;
     margin:0px 0px;
}

.comment-line:nth-child(even){
    background-color: #F4F4F4;
     margin:0px 0px;
}

.comment-line{
    height: 80px;
    padding-left: 8px;
}
.comment-line img{
    width: 53px;
    height: 53px;
}

.comment-line div{
    line-height: 80px;
}
.comment-line .comment-type{
    color: #CB531E;
    font-weight: normal;
}

.spec-data{
    font-size: 1.2rem;
    font-family: "SimHei";
    color: #959595;
}

.spec-data td{
    height: 25px;
    text-align: center;
    padding-top: 2px !important;
    font-weight: normal;
}

.spec-data thead td{
   border-top: 0px !important;
   border-bottom: 0px !important;
}
.spec-data tbody td:nth-child(odd){
    color: #cc6633;
    width: 80px;
}

.spec-data tbody td:nth-child(even){
    color: #cc6633;
    width: 140px;
}