/*************注册页面*****************/
.nav-box{
    position: relative;
   border-bottom: 1px solid #dcdcdc;  
}
.reg-customer-type {
    left:140px;
    bottom: -6px;
   position: absolute;
}

.reg-customer-type li{
    float: left;
}
.reg-customer-type li a{
    display: inline-block;
    width: 80px;
    height: 36px;
   text-align: center;
   font-size: 1.4rem;
   color: #959495;
}

.reg-customer-type .active-btn{
    color: #cc531e;
    background: url('../images/reg-nav-btn.gif') no-repeat;
}
.nav-box .reg-des{
     position: absolute;
     right: 218px;
}


.reg-box {
    margin-left: 110px;
    margin-bottom: 43px;
    font-family: "SimHei";
}

.reg-step{
     margin-left: 160px;
     margin-top: 26px;
     margin-bottom: 26px;

}
.reg-step div{
       height: 40px;
}
  

.reg-step .reg-step-1{
    
    background: url('../images/reg-step-bg.gif') 0px 0px no-repeat;
}

.reg-step .reg-step-2{

    background: url('../images/reg-step-bg.gif') 0px -45px no-repeat;
}

.reg-step .reg-step-3{
    background: url('../images/reg-step-bg.gif') 0px -90px no-repeat;
}
.reg-box label{
    font-weight: normal;
}
.reg-box p {
    margin-bottom: 30px;
}

.reg-box input{
 	height: 40px;
    line-height: 40px;
}
.reg-box span {
    width: 110px;
    text-align: right;
    display: inline-block;
}

.reg-box label {
    font-size: 1.4rem;
    color: #9F9F9F;
}

.reg-box i {
    color: red;
    font-style: normal;
    margin-right: 5px;
}

.reg-input {
    border: 1px solid #EBEBEB;
    width: 280px;
    height: 38px;
    text-indent: 5px;
    margin-left: 14px;
}
.reg-sm-input{
	width: 140px;
}
.reg-messge-btn{
	width: 100px;
	border: 1px solid #a09fa0;
    background-color: #E5E4E4;
    color: #9F9F9F;
    margin-left: 15px;

}

.reg-ic-img{
    vertical-align: middle;
    margin-left: 15px;
}

.reg-bottom-box{
	padding-left: 130px;
    padding-top: 5px;
}

.reg-bottom-box input{
    height: 17px;
} 

.reg-bottom-box .reg-button {
    width: 278px;
    height: 36px;
    font-family: "SimHei";
    font-size: 1.4rrem;
}