.all-type-list{
    background-color: #FFF;
    width: 150px !important;
    padding-top: 10px;
    height: 300px;
}
.banner-bg {
    background-color: #CB531D;
    height: 300px;
    width: 100%;
    left: 0px;
    margin-top: 68px;
}

.banner-shop-box {
    position: relative;
    margin-left: 150px;
    margin-top: 30px;
}

/**banner**/
.banner-large-img{
    margin-right: 10px;
}
.banner-large-img img {
    width: 740px;
    height: 300px;
}

.banner-nav {
    height: 8px;
    left: 34px;
    bottom: 20px;
}


/***每日推荐***/

.day-relative {
    width: 200px;
    height: 280px;
    padding-top: 10px;
}

.day-relative .title {
    background-color: #EDF4FF;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding:14px 75px 9px 75px;
    text-align: center;
    color: #949494;
    font-size: 1.2rem;
}

.banner-sm-img {
    width: 200px;
    height: 245px;
}

.banner-sm-img img {
    width: 200px;
    height: 245px;
}

.banner-sm-nav {
    left: 0px;
    bottom: 15px;
    width: 100%;
    text-align: center;
}

.product-area{
    margin-top: 12px;
}

.product-area li{
    float: left;
    margin-left: 20px;
}

/****橱柜****/

.cupboard-box {
    clear: both;
    padding-top: 11px;
    border-bottom: 1px solid #B8B3B3;
}

.cupboard-name {
    line-height: 40px;
    width: 240px;
    display: inline-block;
    text-align: center;
    color: #FFFFFF;
    background-color: #CC531E;
}

.cupboard-list {
    width: 240px;
}

.cupboard-list ul {
    padding-left: 35px;
    padding-top: 15px;
}

.cupboard-li {
    width: 50%;
    list-style: disc;
    font-size: 1.6rem;
    line-height: 35px;
}

.cupboard-box-ad-img {
    width: 858px;
    height: 252px;
}
