.banner-bg {
    background-color: #CB531D;
    height: 300px;
    width: 100%;
    left: 0px;
}

/**banner**/
.banner-large-img{
	 width: 750px;
}
.banner-large-img img {
    width: 705px;
    height: 300px;
}

/***每日推荐***/

.day-relative {
    width: 200px;
    height: 280px;
    padding-top: 10px;
    margin-left:30px;
}

.day-relative .title {
    background-color: #EDF4FF;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding:14px 75px 9px 75px;
    text-align: center;
    color: #949494;
    font-size: 1.2rem;
}

.banner-sm-img {
    width: 200px;
    height: 245px;
}

.banner-sm-img img {
    width: 200px;
    height: 245px;
}

.banner-sm-nav {
    left: 0px;
    bottom: 15px;
    width: 100%;
    text-align: center;
}


.breadcrumb {
    height: 25px;
    line-height: 25px;
    margin-bottom: 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
  
}

.breadcrumb li {
    float: left;
    padding: 0px 5px 0px 5px;
    color: #d96663;
}

.breadcrumb li:last-child {
    background: none;
}

.goodsList .filter {
    margin-bottom: 4px;
    position: relative;
}

.goodsList .filter .title {
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    font-family: "Microsoft YaHei";

}

.goodsList .filter .content {
    padding: 0px 10px;
  
}

.goodsList .filter dl {
    height: 30px;
    line-height: 30px;
    clear: both;
    padding-left: 90px;
    margin-top: -1px;
    position: relative;
    overflow: hidden;
    border-top: dotted 1px #e8e8e8;
}

.goodsList .filter dt {
    width: 80px;
    _display: inline;
    float: left;
    padding-right: 10px;
    margin-left: -90px;
    color: #555555;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    cursor: default;
}

.goodsList .filter dd {
    float: left;
    margin-right: 10px;
    white-space: nowrap;
}

.goodsList .filter dd a {
    padding: 2px 4px;
}

.goodsList .filter dd a.current {
    color: #ffffff;
    background-color: #ff6600;
}

.goods-div{
    width: 100%;
    margin-top: 7px;
    color: #7b7b7b;

}
.goods-div .title-txt-spacer{
    margin-top: 6px;
    height: 1px;
    border-bottom: 1px solid #e5e5e5;
}
.goods-div .title{
    font-family: 'SimHei';
    font-size: 1.4rem;
}

.goods-div .more{
    font-family: 'SimHei';
    font-size: 1.2rem;
    margin-top: 5px;
}

.goods-div .goods-list{
    margin-top: 6px;
}

.goods-list .goods-item{
    display: inline-block;
    width: 200px;
    height: 290px;

    padding:12px;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 21px;
}

.goods-list .goods-item:hover{
    padding:11px;
    box-shadow: 0px 0px 10px #cccccc;
    border: 1px solid #cccccc;
}

.goods-item img{
    width: 171px;
    height: 145px;
    text-align: center;
}

.goods-item .spacer{
    position: absolute;
    left: 8px;
    margin-top: 10px;
    width:183px;
    height: 1px;
    border-top: 1px solid #e5e5e5;
}

.goods-item .goods-details{
    margin-top: 22px;
    font-size: 1.2rem;
}

.goods-details dt{
    margin-bottom: 5px;
}
.goods-details dd{
    color: #c0c0c0;
}

.goods-details .price-txt{
    display: inline-block;
    margin-top: 5px;
}
.goods-details .price{
    color: #cc531e;
}
.footer{
    margin-top: 20px;
}
