.search-input{
	width: 343px;
}
.store-name{
	font-size: 2.5rem;
}
.top-title {
    border-left: 1px solid #9F9F9F;
    font-size: 2.5rem;
    font-family: "SimHei";
    color: #949494;
    margin-left: 20px;
    margin-top: 5px;
}

.top-title span {
    margin-left: 20px;
}

.store-start{
	font-size: 1.2rem;
	display: block;
}
.store-start b {
    display: inline-block;
    width: 80px;
    height: 9px;
    background-image: url('../images/start.gif');
    background-repeat: no-repeat;
}

.search-box{
	margin-top: 35px;
}

.main-container{
	border-top:1px solid #b5b5b5;
	padding-top: 20px;
    font-family: 'SimHei';
}

.company-banner{
	height: 110px;
}

.company-banner{
	width: 100%;
	height: 100%;
}

.nav-div{
	height: 40px;
	background-color: #cc531e;
	font-size: 0px;
	font-family: "SimHei";
	margin-top: 15px;
}

.nav-div .nav-menu li{
	width:115px;
	height: 40px;
	float: left;
	font-size: 1.4rem;
	padding-left: 20px;
	padding-right: 5px;
	padding-top: 10px;
	background-color: #cc531e;
	position: relative;
}

.nav-div .nav-menu .spacer {
  width: 1px;
  height: 18px;
  margin-top: 12px;
  padding: 0;
  background: #FFF;
  overflow: hidden;
}

.nav-div .nav-menu a
{
	color: #FFF;
}

.nav-div .nav-menu li:hover{ 
  background: #EF4502;
  color: #fff;
  position: relative;
}

.nav-div .nav-menu .second-menu{
	display: none;
	width: 115px;
	position: absolute;
	left: 0px;
	top: 40px;
    z-index: 9999;
}

.goods-div{
    width: 900px;
    margin-top: 7px;
    color: #7b7b7b;
    font-size: 0px;
}
.goods-div .title-txt-spacer{
    margin-top: 6px;
    margin-right: 25px;
    height: 1px;
    border-bottom: 1px solid #e5e5e5;
}
.goods-div .title{
    font-family: 'SimHei';
    font-size: 1.4rem;
}

.goods-div .more{
    font-family: 'SimHei';
    font-size: 1.2rem;
    margin-top: 5px;
    margin-right: 25px;
}

.goods-div .goods-list{
    margin-top: 6px;
}

.goods-list .goods-item{
    display: inline-block;
    width: 200px;
    height: 290px;
    padding:12px;
    position: relative;
    margin-right: 25px;
    margin-bottom: 21px;
}
.goods-list .goods-item:hover {
	padding:11px;
    box-shadow: 0px 0px 10px #cccccc;
    border: 1px solid #cccccc;
}

.goods-item img{
    width: 171px;
    height: 145px;
    text-align: center;
}

.goods-item .spacer{
    position: absolute;
    left: 8px;
    margin-top: 10px;
    width:183px;
    height: 1px;
    border-top: 1px solid #e5e5e5;
}

.goods-item .goods-details{
    margin-top: 22px;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.goods-details dt{
    margin-bottom: 5px;
    height: 34px;
}
.goods-details dd{
    color: #c0c0c0;
}

.goods-details .price-txt{
    display: inline-block;
    margin-top: 5px;
}
.goods-details .price{
    color: #cc531e;
}


.producer-info {
    width: 200px;
    height: 145px;
    font-family: 'SimHei';
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom:20px;
}
.producer-info .producter-details{
    height: 120px;
    border-bottom: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}
.right-info .title-txt {
    display: inline-block;
    text-align: center;
    line-height: 25px;
    width: 200px;
    background-color: #CB531D;
    color: #fff;
    font-size: 1.2rem;
}
.producer-info .producter-details-txt {
    width: 100%;
    display: inline-block;
    font-size: 1.2rem;
    height: 25px;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}
.producer-info input[type='button']{
    margin-top: 10px;
    width: 70px;
    height: 20px;
}
.producer-info .producer-start {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2rem;
}

.producer-start b {
    display: inline-block;
    width: 80px;
    height: 9px;
    background-image: url('../images/start.gif');
    background-repeat: no-repeat;
}

.contact-div{
    margin-bottom: 20px;
}
.contact-div .contact-info{
    height: 80px;
    border-bottom: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}
.contact-info span{
     display: inline-block;
     margin-left: 15px;
     margin-top: 15px;
}

.search-div{
    margin-bottom: 20px;
}

.search-div .search-info{
    padding-left: 15px;
    height: 120px;
    border-bottom: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}
.search-info input{
    height: 20px;
}
.search-info .tag-div{
    padding-top: 15px;
}
.search-info .price-div{
    margin-top: 10px;
}
.search-info .price-input{
     width: 40px;   
}
.search-info .search-btn{
    margin-top: 15px;
    margin-left: 50px;
    width: 58px;
    background-color: #eeeeee;
    border: 1px solid #e5e5e5;
}

.hot-div .goods-item{
    display: inline-block;
    width: 200px;
    margin-bottom:20px;
    border-bottom: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    padding:12px 14px 18px 13px;
    position: relative;
   
}

.hot-div ul{
    margin-top: 10px;
    line-height: 18px;
}

.hot-div li{
    width: 145px;
     text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.hot-div li a{
    color: #8b8a8a;
}
